
@font-face {
  font-family: 'pirate';
  src: url('pirate.ttf');
}

h1, h2, h3, p, ul, li, a, span {
    font-family: "pirate", helvetica !important;
    font-weight: normal;
    letter-spacing: 1px !important;
}

img {
    max-height: 450px;
}

nav a {
    font-size: 28px !important;
}


@media screen
  and (max-width: 1000px) {

    .mdl-card {
        width: 100%;
    }
}

a.mdl-navigation__link {
    padding: 16px 25px !important;
}

#comments {
    height: calc(100% - 78px);
    overflow: scroll;
}

main {
    height: 100%;
}

.book-title {
    font-size: 20px;
}

.arrrgh p {
    font-size: 20px;
}

.comment-button-text {
    margin-left: -245px;
}

.comment-text {
    font-size: 24px;
}